[Unit]
Description=gortc
After=syslog.target network.target

[Service]
User=gortc
Group=gortc
Type=simple
ExecStart=[InstallPath]/bin/gortc -d
ExecStopPost=
Restart=always

LimitCORE=infinity
LimitNOFILE=infinity
LimitRTPRIO=infinity
LimitRTTIME=infinity
UMask=0007

[Install]
WantedBy=multi-user.target
